In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

## Q1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

In [3]:
#Opening URL
url = 'https://www.naukri.com'
driver.get(url)

In [4]:
# Search Job
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
# Search Location
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
search_locn.send_keys('Bangalore')

In [8]:
# Find and CLick Submit
search_btn = driver.find_element_by_class_name('qsbSubmit')
search_btn

In [9]:
search_btn.click()

### Scraping Job Titles

In [10]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="c2ba6fc7-f66c-4b1a-a0a4-1f8fc4610951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="6da19512-084d-4500-8dd7-c337fc9071f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="d3fd8b19-baf4-415a-8866-d9befee636a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="271cfe33-8015-4ac1-ac4a-57a6dc73d2e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="e6842629-061a-4042-b244-fb9a2750cc01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="0e217c11-d352-45b6-8819-37c3c7beb09e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="73f554ce-8e12-4c90-aea4-37e849cb0d87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="5f7f8b6e-d7b5-46c7-81aa-a26022b31272")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3c195423-b090-4413-9870-6616ae78a192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="8952c1e2-cbf9-4c71-8416-e5faed1630bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="a09e804b-ffa6-4da9-af8e-edce33e56efe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="5bced785-3cbe-443f-b0c4-1cbb2f60cd56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="92339079-8b76-41b3-bccc-9491a459c670")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3ed90856-7933-4dbd-8f62-b6d5f8164218")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="d414059b-3857-4c0c-aacd-e41107537bf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="4cd90a9c-51e4-4150-b9d2-6f3e88f17a7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3d21baa1-f60f-41ba-871f-9b3d9c89450b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="8828f38d-e6a8-46e6-9a3b-5374c5dcf608")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="8d8ab096-fa94-47cd-806d-4104148990cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="71f10cb7-67a0-4429-ae4b-1654855e2976")>]

In [11]:
len(title_tags)

20

In [12]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [13]:
job_titles

['Senior Data Analyst - Collibra',
 'Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst (SQL & Scala) || Coforge',
 'Hiring Data Analyst(Immediate joiner preferred) - Globallogic!',
 'Sr. Data Analyst',
 'Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'DATA ANALYST, IMPACT MEASUREMENT AND MANAGEMENT',
 'Data Analyst',
 'Data Analyst - Platform & Security',
 'Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst role)',
 'Senior Data Analyst',
 'Senior Analyst Data Engineering']

### Scraping Job Location

In [14]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [15]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [16]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +7)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Greater Noida\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Jayanagar +3)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru']

### Scraping Company Names

In [17]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [18]:
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="cc31d171-2dfc-4f68-be80-640031fdb220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="24f5f3f7-038f-42da-8d1d-04f5e32cf799")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="5b169bf8-b1cc-40df-856c-acc072193827")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="2220b33d-122b-4bff-98f5-1a0d9c0bb439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="684faca7-fbfa-4cf6-b9e3-1a5e77c31ced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="b5075205-1cfb-4d79-b68f-3bb7ca9d1be9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3156a7c8-ce84-4657-8aa3-a18067ea4b48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="c3d49820-bd0d-4893-8053-79d75c831e54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="619644c5-7e84-4983-b39d-91900429e4d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="5eee1ae0-de17-4d4f-a3e9-471a54238816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="ac23c280-ba58-4571-a9aa-d189d01c39f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="1d14d059-c5b0-4c8b-9060-9aac75932306")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="f6cf32a7-4dd9-4ece-8071-8ee0a19e40fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="9bb5c715-b0b0-4dab-a145-985d854dde46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="6c63c399-9ab5-483e-9574-7128dea1f82e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="939ff378-d5b6-4320-b789-bffbf2b0ebb9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="6b179261-a03a-4f57-a5c9-973b72c20ef4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="4aba9110-0c24-4ca7-ad45-434499d44db1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="d52dfa6b-0f91-4f6e-a8de-62f8a21b8ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="4bbc5a67-5860-461e-9a61-bb24a66cdde6")>]

In [19]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
    
len(company_names)

20

In [20]:
company_names

['Shell',
 'Flipkart',
 'TIMS SOLUTIONS PRIVATE LIMITED',
 'Insure Pro 2.0',
 'BERKMEER INDIA PRIVATE LIMITED',
 'Coforge',
 'GlobalLogic',
 'Born Commerce',
 'Opkey',
 'Flipkart',
 'Flipkart',
 'Upaya Social Ventures',
 'DocsApp',
 'Hotstar',
 'Dell',
 'Lifesight Technologies Pvt. Ltd.',
 'GSK India',
 'Xpheno',
 'Liventus',
 'Dell']

### Extracting Experience Required

In [21]:
exp_tags = driver.find_elements_by_xpath('//*[contains(@title,"Yrs ")]')
len(exp_tags)

20

In [22]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="874f6b3b-cad9-4a90-936e-40f7c519db53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="fd004444-0047-44f6-9ec1-a40f2ed5d297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="0064a95b-c64c-4211-96b6-8862499f2037")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3b904177-2162-4a77-9989-ddb01430a858")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="cfe376cd-2a92-4cdc-95d7-20d372ab8e5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="2f07f05f-85ad-402c-8b64-69015e9eacc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3d556f2d-5cac-4488-8b60-466ed87d52e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="fc85d38e-e4a5-4e9d-814d-af73a4aecf1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="709c7b90-5b4a-4c4a-95d4-a3de48d88aa0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="5a6825ab-f4bd-4d11-a5d3-52e38b18f1cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="424cc033-5caa-40a9-ac89-2ced0b673f7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="6c4129ea-b70a-4666-95b1-2970c3a734a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="3dc12b39-466a-451f-bce3-007d3cc5228f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="8693a884-c824-4454-a261-2a3593e92a7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="afbf6b23-8961-45d1-ace9-42746af21176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="6ad7feb4-97cd-4171-a4cc-e599ec816c14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="99c8b3dc-0485-4586-ab8f-be8f7b5e9e50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="d4ec09c3-6d4d-4f10-8058-a954e28fe9e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="1ad56ca9-72e8-48b9-ad8d-b05458269a4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1c5465ec946c155681e7d4fc241ed9be", element="f89f88e7-7102-4080-af26-5a125d3e629d")>]

In [23]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

In [24]:
experience

['8-12 Yrs',
 '1-6 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '4-8 Yrs',
 '6-9 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '2-3 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-5 Yrs']

#### Rechecking len of each list

In [25]:
len(job_titles), len(location), len(company_names), len(experience)

(20, 20, 20, 20)

### Creating a DataFrame of the Information Scraped

In [27]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Job Location'] = location[:10]
jobs['Company Name'] = company_names[:10]
jobs['Experience Required'] = experience[:10]
jobs

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Analyst - Collibra,Bangalore/Bengaluru,Shell,8-12 Yrs
1,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
2,Pipeline/Piping Data Analyst Trainee,Bangalore/Bengaluru,TIMS SOLUTIONS PRIVATE LIMITED,0-4 Yrs
3,Data Analyst,Bangalore/Bengaluru(HSR Layout +7),Insure Pro 2.0,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,BERKMEER INDIA PRIVATE LIMITED,0-2 Yrs
5,Hiring For Data Analyst (SQL & Scala) || Coforge,"Mumbai, Bangalore/Bengaluru, Greater Noida\n(W...",Coforge,4-8 Yrs
6,Hiring Data Analyst(Immediate joiner preferred...,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",GlobalLogic,6-9 Yrs
7,Sr. Data Analyst,Bangalore/Bengaluru,Born Commerce,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Opkey,2-5 Yrs
9,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs

### Saving the DataFrame into Excel File

In [28]:
file_name = 'Data Analyst Jobs in Bangalore.xlsx'

In [29]:
jobs.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [30]:
# loading chrome
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [31]:
# opening url
url = 'https://www.naukri.com'
driver.get(url)

In [32]:
# searching job name
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [33]:
search_job.send_keys("Data Scientist")

In [34]:
# searching location
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [35]:
search_locn.send_keys('Bangalore')

In [36]:
# clicking search
search_btn = driver.find_element_by_class_name('qsbSubmit')
search_btn

In [37]:
search_btn.click()

### Scraping Job Titles

In [38]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="8846552c-8efb-4130-97e8-968c53293801")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="d8473088-04b2-4203-a09f-bf0f97335f9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="506a68f5-34af-45b6-8ea6-9fbbe7e737d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="c191e2c4-d871-49af-915f-2e01ac0d1436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="d8978ca9-d73f-486f-ba4b-c9e1b12ef249")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="9e3f7f80-95f1-424c-ade2-b59d89438aaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="3372c33a-6838-4d51-9356-c29cebc87331")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="a48fed59-577e-431f-a306-b9a367d2de01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="82c079d4-1172-47ad-9f02-93902f8738b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="b675a13f-f6d2-4f70-a9c8-6d52a20a6017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="4b305ad5-ed6e-4fb3-ad4b-13c72e248b7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="4f92730c-ec93-4117-98e3-1376a78b10bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="1b27f917-885a-4ce7-8b44-349d46c70b00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="de8ffad6-5ae1-4af0-957e-fa3d05de34bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="14b55af6-47b6-4796-8e4a-0cae70e8bc8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="b4b3e6d6-cd6e-4e6f-9eb4-16a09fd9d512")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="d5a9d275-306a-4377-8e1d-3d30c9feebec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="c04ca218-0a5f-416b-83d1-84f7a3d4d017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="9815db09-d2ae-491a-8f67-63705e535ed4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="5a68ce19-2354-4d3b-ac58-3224936bc265")>]

In [39]:
len(title_tags)

20

In [40]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [41]:
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Scientist / ML Engineer',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Sr Data Scientist',
 'Data Scientist / Analyst',
 'Principal Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Deputy Manager - Data Scientist',
 'Senior Data Scientist - Customer Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist I',
 'Senior Risk Data Scientist',
 'Data Scientist',
 'NLP Data Scientist',
 'Hiring For Data Scientist - Noida/Bangalore/WFH',
 'Data Scientist',
 'Data Scientist and Director Data Scientist',
 'Data Scientist | Market Analytics | Remote',
 'Hiring For Sr. Data Scientist. Operation Research - SCM- MNC',
 'Data Scientist: Advanced Analytics']

### Scraping Job Location

In [42]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [43]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [44]:
location

['Bangalore/Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +2)',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru']

### Scraping Company Names

In [45]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [46]:
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="d57608ec-f48d-422b-967d-616efba0b580")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="2e62dcad-cc18-4f2b-9203-ca80a34ef01e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="5467de6f-7263-4ee3-8197-0ff06eedccc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="08edcd4b-1ea7-46a4-8d50-c1c3699638cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="888040fa-2020-480c-999d-ab35620af8f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="4dd80792-4fc4-47bc-ade1-d187d978fff2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="883ec452-e30b-45d8-8755-43a78a0794c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="ea4f3626-b6b7-44f4-a996-2dfa75d67ef1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="428b666d-2da3-4314-a1e3-ecc8d7c1decb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="1cda0aa3-f451-4f22-8f52-c392ff44b1d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="2758ff98-b3c2-4669-8278-9fb47c1df9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="53ee689b-8e6a-4912-8cd3-cd554eb78464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="2f249cd9-2362-46d3-96b0-1bd97b0f46e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="e140bc9d-c3dd-4272-97c9-725a51588f49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="7df77446-5fca-4607-81a2-fefbc92619eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="c015cff1-e02e-402e-8500-c7ce0f4f9da8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="c064e4cf-6fce-42ef-ab43-03ececfd3aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="340a9d3b-ee5f-4f9e-a76d-e1cea94a0fb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="2afc8bfb-9237-4a8e-931a-0462b62df8a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="781724fba187b5c4881bee68bb9eaac8", element="6683f069-746f-4660-9134-6f07972285a0")>]

In [47]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
    
len(company_names)

20

In [48]:
company_names

['Dell',
 'AVE-Promagne',
 'Wipro',
 'Fragma data systems pvt ltd',
 'Talentify',
 'Signify',
 'IBM',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'Atlassian',
 'Ericsson Global Services',
 'Delhivery',
 'GSK India',
 'Thoucentric Technology Pvt ltd',
 'Refinitiv',
 'Techneplus Software India Pvt Ltd',
 'kk consulting services',
 'OyoRooms',
 'Vision Beyond Resources India Private Limited',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'IBM']

### Rechecking len of lists

In [50]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Job Location'] = location[:10]
jobs['Company Names'] = company_names[:10]
jobs

,Job Title,Job Location,Company Names
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell
1,Data Scientist / ML Engineer,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne
2,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Wipro
3,Sr Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Fragma data systems pvt ltd
4,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify
5,Principal Data Scientist,Bangalore/Bengaluru,Signify
6,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
7,Deputy Manager - Data Scientist,Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED
8,Senior Data Scientist - Customer Analytics,Bangalore/Bengaluru,Atlassian
9,Senior Data Scientist,Bangalore/Bengaluru,Ericsson Global Services

### Saving data in Excel File

In [51]:
file_name = 'Data Scientist Jobs in Bangalore.xlsx'

In [52]:
jobs.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# Q3. In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.<br>
You have to scrape data for “Data Scientist” designation for first 10 job results.<br>
You have to scrape the job-title, job-location, company name, experience required. <br>
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs<br>

In [53]:
# opening chrome
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [54]:
# opening url
url = 'https://www.naukri.com'
driver.get(url)

In [55]:
# searching job
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [56]:
search_job.send_keys("Data Scientist")

In [57]:
# clicking search
search_btn = driver.find_element_by_class_name('qsbSubmit')
search_btn

In [58]:
search_btn.click()

In [59]:
# applying location filter
loc_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
loc_check

In [60]:
loc_check.click()

In [61]:
# applying salary filter
salary_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_check

In [62]:
salary_check.click()

### Scraping Job Titles

In [63]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="7886494e-23a3-46ee-9381-d48e19aec04c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="f606da23-0b7b-4974-ba4f-65819bfa8c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="2eda5e1d-b1de-4e38-b4c2-07c073e0320c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="fb561345-47d2-4223-9c2a-a88597102cd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="127fe2ee-bc81-4c30-aad3-c6d819435fbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="a358b1e0-880b-4863-9d9c-dadea1625e0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="85c9c0e0-7de5-4fdc-9adf-692c63464701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="c5e54502-89b4-49f1-95c3-0b3092f9c2af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="5fdc09fe-2116-41a9-9cc5-3ef081bd7a65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="5f748a0e-69a2-463d-bee7-a6d9f8ebf628")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="b2b3e106-1786-47ac-9902-16f1c16ee7b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="51e361b7-256f-4acd-b72c-80052cf2d9a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="5de9cc70-fce6-44b6-82c4-231512c00f0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="7ca65817-5413-4ebe-a5a8-0f9ef2575120")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="1da8b07a-2938-4f01-8fb3-6c59c380a1fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="5e4102d3-6154-42d5-be13-29ec6a7fabe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="11f3acee-2dd7-412d-9e7f-bea56f2022f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="f7bed2c8-8a3e-4269-9f8e-52322b316d5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="c4993106-f53d-4e74-b49d-1391faebe7b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f24a01dd6351a5d7c29889f1f5b40837", element="97bca36c-2e33-4db4-bc56-fbde2ef8b39b")>]

In [64]:
len(title_tags)

20

In [67]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
    
len(job_titles)

20

In [68]:
job_titles

['Data Scientist II',
 'Opening For Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

### Scraping Job Locations

In [69]:
loc_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [70]:
location = []

for i in loc_tags:
    location.append(i.text)
    
len(location)

20

In [71]:
location

['Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'New Delhi',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR',
 'Noida, New Delhi, Delhi / NCR',
 'New Delhi',
 'Delhi',
 'New Delhi',
 'Gurgaon, Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'Delhi']

### Scraping Company Name

In [72]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [73]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
    
len(company_names)

20

In [74]:
company_names

['Chegg',
 'Care Health Insurance',
 'Microsoft',
 'Microsoft',
 'Stefanini',
 'Smart work Consultants',
 'Zekardo Automotive Solutions',
 'Team Computers Pvt Ltd',
 'NebulARC Technologies Private Limited',
 'iHackers Inc',
 'Cloudstrats Technologies Private Limited',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'HCL',
 'GABA Consultancy services',
 'Boston Consulting Group',
 'iNICU',
 'Tide Software',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging']

### Scraping Experience Required

In [75]:
exp_tags = driver.find_elements_by_xpath('//*[contains(@title,"Yrs ")]')
len(exp_tags)

20

In [76]:
experience = []

for i in exp_tags:
    experience.append(i.text)
    
len(experience)

20

In [77]:
experience

['2-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '0-4 Yrs',
 '0-1 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs']

### Rechecking len

In [78]:
len(job_titles), len(location), len(company_names), len(experience)

(20, 20, 20, 20)

### Creating DataFrame

In [79]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[:10]
jobs['Job Location'] = location[:10]
jobs['Company Name'] = company_names[:10]
jobs['Experience Required'] = experience[:10]
jobs

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist II,Delhi / NCR,Chegg,2-6 Yrs
1,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
2,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
3,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
4,Data Scientist,Noida,Stefanini,3-8 Yrs
5,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs
6,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs
7,Data Scientist,New Delhi,Team Computers Pvt Ltd,2-6 Yrs
8,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
9,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs

### Saving to Excel

In [80]:
file_name = 'Data Scientist Jobs_DelhiNCR_3-6lacs.xlsx'

In [81]:
jobs.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# Q4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount
<br>The attributes which you have to scrape is ticked marked in the below image

In [151]:
# loading driver
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [152]:
# loading url
url = 'https://www.flipkart.com/'
driver.get(url)

In [153]:
# searching sunglasses in search bar
search_item = driver.find_element_by_class_name('_3704LK')
search_item

In [154]:
search_item.send_keys("sunglasses")

In [155]:
# clicking on search button
search_btn = driver.find_element_by_class_name('L0Z3Pu')
search_btn

In [156]:
search_btn.click()

#### Making DataFrame of 1st 40 sunglasses from Page 1

In [157]:
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand_tags:
    brand_name.append(i.text)

len(brand_name)

40

In [158]:
product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

product_name = []

for i in product_tags:
    product_name.append(i.text)

len(product_name)

40

In [159]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price = []

for i in price_tags:
    price.append(i.text)

len(price)

40

In [160]:
discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

discount = []

for i in discount_tags:
    discount.append(i.text)

len(discount)

40

In [161]:
df1_40 = pd.DataFrame()
df1_40['Brand Name'] = brand_name
df1_40['Product Description'] = product_name
df1_40['Price'] = price
df1_40['Discount'] = discount

df1_40

,Brand Name,Product Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (55),₹250,84% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179",41% off
2,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165,90% off
5,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹239,88% off
6,kingsunglasses,UV Protection Round Sunglasses (54),₹178,82% off
7,elegante,UV Protection Oval Sunglasses (Free Size),₹389,74% off
8,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹549,31% off
9,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243,81% off
10,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271,84% off
11,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹203,70% off
12,SRPM,UV Protection Wayfarer Sunglasses (50),₹188,85% off
13,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹474,76% off
14,PIRASO,UV Protection Aviator Sunglasses (54),₹229,85% off
15,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹325,89% off
16,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
17,Elligator,UV Protection Round Sunglasses (53),₹189,87% off
18,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹383,80% off
19,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹616,75% off
20,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225,85% off
21,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181,81% off
22,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299,85% off
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,533",38% off
24,GANSTA,UV Protection Aviator Sunglasses (57),₹269,86% off
25,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309,84% off
26,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹579,35% off
27,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off
28,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹179,85% off
29,agera,Gradient Aviator Sunglasses (55),₹196,82% off
30,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹639,20% off
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,533",38% off
32,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹274,82% off
33,Fastrack,UV Protection Round Sunglasses (52),₹639,20% off
34,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹172,84% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,415",29% off
36,Fastrack,UV Protection Wayfarer Sunglasses (55),₹521,34% off
37,Fastrack,UV Protection Aviator Sunglasses (58),₹999,23% off
38,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹265,73% off
39,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off

In [162]:
# clicking on next page button
next_btn = driver.find_element_by_class_name('_1LKTO3')
next_btn

In [163]:
next_btn.click()

#### Making DataFrame of next 40 sunglasses from Page 2

In [164]:
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand_tags:
    brand_name.append(i.text)

len(brand_name)

40

In [165]:
product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

product_name = []

for i in product_tags:
    product_name.append(i.text)

len(product_name)

40

In [166]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

price = []

for i in price_tags:
    price.append(i.text)

len(price)

40

In [167]:
discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

discount = []

for i in discount_tags:
    discount.append(i.text)

len(discount)

40

In [168]:
df41_80 = pd.DataFrame()
df41_80['Brand Name'] = brand_name
df41_80['Product Description'] = product_name
df41_80['Price'] = price
df41_80['Discount'] = discount

df41_80

,Brand Name,Product Description,Price,Discount
0,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹265,73% off
1,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹579,35% off
2,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹449,70% off
3,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426,84% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹225,85% off
5,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹146,87% off
6,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144,79% off
7,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹276,81% off
8,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹235,81% off
9,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹299,81% off
10,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
11,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499,75% off
12,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹199,80% off
13,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359,76% off
14,Rich Club,UV Protection Round Sunglasses (48),₹220,72% off
15,Elligator,UV Protection Wayfarer Sunglasses (53),₹247,87% off
16,Rich Club,Polarized Round Sunglasses (48),₹165,66% off
17,PIRASO,UV Protection Aviator Sunglasses (58),₹299,88% off
18,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹289,85% off
19,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹426,80% off
20,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹275,88% off
21,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹174,82% off
22,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹203,70% off
23,PIRASO,UV Protection Butterfly Sunglasses (60),₹349,86% off
24,Elligator,"UV Protection, Gradient Aviator Sunglasses (50)",₹263,82% off
25,IDEE,UV Protection Cat-eye Sunglasses (17),"₹1,079",52% off
26,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹156,87% off
27,PIRASO,UV Protection Aviator Sunglasses (50),₹299,81% off
28,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹189,87% off
29,SRPM,UV Protection Wayfarer Sunglasses (53),₹207,79% off
30,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹170,86% off
31,VILLAIN,Others Wayfarer Sunglasses (Free Size),₹522,47% off
32,Elligator,UV Protection Round Sunglasses (50),₹230,88% off
33,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276,88% off
34,Fastrack,UV Protection Shield Sunglasses (Free Size),₹599,33% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,179",41% off
36,PIRASO,UV Protection Butterfly Sunglasses (65),₹349,86% off
37,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹619,31% off
38,Silver Kartz,UV Protection Aviator Sunglasses (88),₹255,78% off
39,PIRASO,UV Protection Wayfarer Sunglasses (32),₹225,85% off

In [169]:
# clicking on next page button
next_btn = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_btn

In [170]:
next_btn.click()

#### Making DataFrame of next 20 sunglasses from Page 3

In [171]:
brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')[0:20]

brand_name = []

for i in brand_tags:
    brand_name.append(i.text)

len(brand_name)

20

In [172]:
product_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')[0:20]

product_name = []

for i in product_tags:
    product_name.append(i.text)

len(product_name)

20

In [173]:
price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')[0:20]

price = []

for i in price_tags:
    price.append(i.text)

len(price)

20

In [174]:
discount_tags = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')[0:20]

discount = []

for i in discount_tags:
    discount.append(i.text)

len(discount)

20

In [176]:
df81_100 = pd.DataFrame()
df81_100['Brand Name'] = brand_name
df81_100['Product Description'] = product_name
df81_100['Price'] = price
df81_100['Discount'] = discount

df81_100

,Brand Name,Product Description,Price,Discount
0,New Specs,UV Protection Round Sunglasses (Free Size),₹232,82% off
1,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹259,81% off
2,Singco India,"Riding Glasses, UV Protection, Others Aviator ...",₹249,83% off
3,chawla fashion,UV Protection Retro Square Sunglasses (Free Size),₹185,81% off
4,ROZZETTA CRAFT,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹474,78% off
5,PHENOMENAL,UV Protection Wayfarer Sunglasses (53),₹289,85% off
6,Elligator,"UV Protection, Night Vision, Riding Glasses Av...",₹167,88% off
7,GANSTA,"Night Vision, UV Protection Round Sunglasses (54)",₹264,86% off
8,SRPM,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹199,80% off
9,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹229,88% off
10,kingsunglasses,"UV Protection, Gradient Butterfly Sunglasses (60)",₹159,87% off
11,ROYAL SON,"UV Protection, Gradient Butterfly, Retro Squar...",₹664,66% off
12,AISLIN,UV Protection Oval Sunglasses (56),₹468,78% off
13,Silver Kartz,UV Protection Round Sunglasses (Free Size),₹284,76% off
14,kingsunglasses,UV Protection Rectangular Sunglasses (54),₹279,82% off
15,GANSTA,UV Protection Wayfarer Sunglasses (Free Size),₹206,84% off
16,Poloport,Mirrored Aviator Sunglasses (55),₹236,87% off
17,ROYAL SON,"Gradient, Toughened Glass Lens, UV Protection ...",₹359,76% off
18,Singco India,"UV Protection Retro Square, Round Sunglasses (54)",₹664,77% off
19,VILLAIN,UV Protection Rectangular Sunglasses (Free Size),"₹1,099",37% off

### Merging the 3 DataFrames into a single combined DataFrame

In [178]:
sunglasses = pd.concat([df1_40,df41_80,df81_100],ignore_index=True)
sunglasses

,Brand Name,Product Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (55),₹250,84% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179",41% off
2,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165,90% off
...,...,...,...,...
95,GANSTA,UV Protection Wayfarer Sunglasses (Free Size),₹206,84% off
96,Poloport,Mirrored Aviator Sunglasses (55),₹236,87% off
97,ROYAL SON,"Gradient, Toughened Glass Lens, UV Protection ...",₹359,76% off
98,Singco India,"UV Protection Retro Square, Round Sunglasses (54)",₹664,77% off
99,VILLAIN,UV Protection Rectangular Sunglasses (Free Size),"₹1,099",37% off

In [179]:
file_name = 'Database of 100 sunglasses from Flipkart.xlsx'

In [180]:
sunglasses.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

# Q5 Scrape 100 reviews data from flipkart.com for iphone11 phone

In [5]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC' 
driver.get(url)

In [6]:
viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
viewall.click()

In [7]:
rev_sum = []
rating = []
rev = []

In [8]:
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

    for r in rev_sum_tag:
        rev_sum.append(r.text)
    for j in rating_tag :
        rating.append(j.text)
    for k in rev_tag:
        rev.append(k.text.replace("\n"," "))

In [9]:
import time

In [11]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass

    
    
    
    i=i+1

In [12]:
iphoneDF = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphoneDF.reset_index(drop=True,inplace = True)
iphoneDF.index+= 1
iphoneDF.shape

(100, 3)

In [13]:
iphoneDF

,Summary,Full Review,Rating
1,Brilliant,The Best Phone for the Money The iPhone 11 of...,5
2,Simply awesome,Really satisfied with the Product I received.....,5
3,Best in the market!,Great iPhone very snappy experience as apple k...,5
4,Perfect product!,Amazing phone with great cameras and better ba...,5
5,Fabulous!,This is my first iOS phone. I am very happy wi...,5
...,...,...,...
96,Worth every penny,Best budget Iphone till date ❤️ go for it guys...,5
97,Classy product,Totally in love with this ❤ the camera quality...,5
98,Worth every penny,"Smooth like butter, camera like fantabulous, s...",5
99,Worth every penny,It’s been almost a month since I have been usi...,5
100,Nice product,Awesome Phone. Slightly high price but worth. ...,4

# Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [55]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')
url = 'https://www.flipkart.com' 
driver.get(url)

In [56]:
Sneakerssearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Sneakerssearch.send_keys("Sneakers")
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [57]:
brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)
for c in disc_tag:
   disc.append(c.text)

In [58]:
import time 


i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [63]:
SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100]})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape

SneakersDF

              Brand Name Price(₹) Discount
1                 Chevit     ₹299  70% off
2                  BIRDE     ₹259  74% off
3               Elevarse     ₹349  65% off
4    World Wear Footwear     ₹199  60% off
5                 BRUTON     ₹259  80% off
..                   ...      ...      ...
96                SWIGGY     ₹259  59% off
97             India hub     ₹404  50% off
98                  PUMA   ₹1,224  48% off
99                Kraasa     ₹499  53% off
100               SWIGGY     ₹259  55% off

[100 rows x 3 columns]

# Q 7 scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [64]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [65]:
url = 'https://www.myntra.com/shoes' 
driver.get(url)

In [66]:
colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
colour_filter.click()

In [67]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [68]:
brand = []
desc = []
price = []
price2 = []
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

In [69]:
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)

In [70]:
import time 


i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    
    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [71]:
price

['Rs. 9770Rs. 11495',
 'Rs. 9770',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 'Rs. 7495',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 10499Rs. 14999',
 'Rs. 10499',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499',
 'Rs. 7224',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7599',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7699',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 9999',
 'Rs. 9265Rs. 10900',
 'Rs. 9265',
 'Rs. 7999',
 'Rs. 7394Rs. 8499',
 'Rs. 7394',
 'Rs. 10500Rs. 10900',
 'Rs. 10500',
 'Rs. 8500',
 'Rs. 8490',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7219Rs. 7599',
 'Rs. 7219',
 'Rs. 8490',
 'Rs. 11473Rs. 14900',
 'Rs. 11473',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7869Rs. 12900',
 'Rs. 7869',
 'Rs. 7999',
 'Rs. 7739Rs. 8599',
 'Rs. 7739',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 9499',
 'Rs. 11999',
 '',
 'Rs. 11999',
 '',
 'Rs. 9999',
 '',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 '',
 'Rs. 7990',
 '',
 'Rs. 7999',
 '',
 'Rs. 7499',
 '',
 'Rs. 8990',
 '',
 'Rs. 8415Rs. 9900',
 'Rs. 8415',
 '',
 'Rs. 7990',
 '',
 'Rs. 9999',
 '',
 'Rs. 8490',
 '',
 'Rs. 7216Rs. 8200',
 'Rs. 7216',
 '',
 'Rs. 7490',
 '',
 'Rs. 8999',
 '',
 'Rs. 7999',
 '',
 'Rs. 9599Rs. 11999',
 'Rs. 9599',
 '',
 'Rs. 7490',
 '',
 'Rs. 10990',
 '',
 'Rs. 9999',
 '',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 '',
 'Rs. 9999',
 '',
 'Rs. 7990',
 '',
 'Rs. 8990',
 '',
 'Rs. 8990',
 '',
 'Rs. 8990',
 '',
 'Rs. 9990',
 '',
 'Rs. 7499',
 '',
 'Rs. 10710Rs. 11900',
 'Rs. 10710',
 '',
 'Rs. 7900',
 '',
 'Rs. 9450Rs. 10500',
 'Rs. 9450',
 '',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 '',
 'Rs. 8999',
 '',
 'Rs. 9799Rs. 13999',
 'Rs. 9799',
 '',
 'Rs. 11999',
 '',
 'Rs. 11899Rs. 16999',
 'Rs. 11899',
 '',
 'Rs. 12325Rs. 14500',
 'Rs. 12325',
 '',
 'Rs. 12325Rs. 14500',
 'Rs. 12325',
 '',
 'Rs. 14025Rs. 16500',
 'Rs. 14025',
 '',
 'Rs. 9999',
 '',
 'Rs. 11815Rs. 13900',
 'Rs. 11815',
 '',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 '',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 '',
 'Rs. 12990',
 '',
 'Rs. 9999',
 '',
 'Rs. 13990',
 '',
 'Rs. 12665Rs. 14900',
 'Rs. 12665',
 '',
 'Rs. 12999',
 '',
 'Rs. 8415Rs. 9900',
 'Rs. 8415',
 '',
 'Rs. 9265Rs. 10900',
 'Rs. 9265',
 '',
 'Rs. 11815Rs. 13900',
 'Rs. 11815']

In [72]:
while("" in price) :
    price.remove("")

In [73]:
price

['Rs. 9770Rs. 11495',
 'Rs. 9770',
 'Rs. 9099Rs. 12999',
 'Rs. 9099',
 'Rs. 7495',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 10499Rs. 14999',
 'Rs. 10499',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499',
 'Rs. 7224',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 7599',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7699',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 9999',
 'Rs. 9265Rs. 10900',
 'Rs. 9265',
 'Rs. 7999',
 'Rs. 7394Rs. 8499',
 'Rs. 7394',
 'Rs. 10500Rs. 10900',
 'Rs. 10500',
 'Rs. 8500',
 'Rs. 8490',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7219Rs. 7599',
 'Rs. 7219',
 'Rs. 8490',
 'Rs. 11473Rs. 14900',
 'Rs. 11473',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7869Rs. 12900',
 'Rs. 7869',
 'Rs. 7999',
 'Rs. 7739Rs. 8599',
 'Rs. 7739',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 9499',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7199Rs. 8999',
 'Rs. 7199',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 8415Rs. 9900',
 'Rs. 8415',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 8490',
 'Rs. 7216Rs. 8200',
 'Rs. 7216',
 'Rs. 7490',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9599Rs. 11999',
 'Rs. 9599',
 'Rs. 7490',
 'Rs. 10990',
 'Rs. 9999',
 'Rs. 8799Rs. 10999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 7499',
 'Rs. 10710Rs. 11900',
 'Rs. 10710',
 'Rs. 7900',
 'Rs. 9450Rs. 10500',
 'Rs. 9450',
 'Rs. 7799Rs. 12999',
 'Rs. 7799',
 'Rs. 8999',
 'Rs. 9799Rs. 13999',
 'Rs. 9799',
 'Rs. 11999',
 'Rs. 11899Rs. 16999',
 'Rs. 11899',
 'Rs. 12325Rs. 14500',
 'Rs. 12325',
 'Rs. 12325Rs. 14500',
 'Rs. 12325',
 'Rs. 14025Rs. 16500',
 'Rs. 14025',
 'Rs. 9999',
 'Rs. 11815Rs. 13900',
 'Rs. 11815',
 'Rs. 8399Rs. 11999',
 'Rs. 8399',
 'Rs. 7999Rs. 9999',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 9999',
 'Rs. 13990',
 'Rs. 12665Rs. 14900',
 'Rs. 12665',
 'Rs. 12999',
 'Rs. 8415Rs. 9900',
 'Rs. 8415',
 'Rs. 9265Rs. 10900',
 'Rs. 9265',
 'Rs. 11815Rs. 13900',
 'Rs. 11815']

In [74]:
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1

In [75]:
price

['Rs. 9770',
 'Rs. 9099',
 'Rs. 7495',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 10499',
 'Rs. 7799',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7224',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7599',
 'Rs. 7199',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7699',
 'Rs. 7199',
 'Rs. 9999',
 'Rs. 9265',
 'Rs. 7999',
 'Rs. 7394',
 'Rs. 10500',
 'Rs. 8500',
 'Rs. 8490',
 'Rs. 8399',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7219',
 'Rs. 8490',
 'Rs. 11473',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7869',
 'Rs. 7999',
 'Rs. 7739',
 'Rs. 7799',
 'Rs. 12999',
 'Rs. 9499',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 7199',
 'Rs. 7990',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 8415',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 8490',
 'Rs. 7216',
 'Rs. 7490',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 9599',
 'Rs. 7490',
 'Rs. 10990',
 'Rs. 9999',
 'Rs. 8799',
 'Rs. 9999',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 7499',
 'Rs. 10710',
 'Rs. 7900',
 'Rs. 9450',
 'Rs. 7799',
 'Rs. 8999',
 'Rs. 9799',
 'Rs. 11999',
 'Rs. 11899',
 'Rs. 12325',
 'Rs. 12325',
 'Rs. 14025',
 'Rs. 9999',
 'Rs. 11815',
 'Rs. 8399',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 9999',
 'Rs. 13990',
 'Rs. 12665',
 'Rs. 12999',
 'Rs. 8415',
 'Rs. 9265',
 'Rs. 11815']

In [76]:
MyntraShoesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoesDF.reset_index(drop=True,inplace = True)
MyntraShoesDF.index+= 1


MyntraShoesDF

         Brand Name   Price(₹)                              Description
1              Nike   Rs. 9770                  Men AIR ZOOM PEGASUS 38
2              ALDO   Rs. 9099                     Men Printed Sneakers
3              Nike   Rs. 7495           Men Blazer Court Skateboarding
4              Puma  Rs. 12999            Men Jamming 2.0 Running Shoes
5    Tommy Hilfiger   Rs. 7999                     Men Leather Sneakers
..              ...        ...                                      ...
96          Saint G  Rs. 12665  Leather Wedge Heeled Boots with Buckles
97             ECCO  Rs. 12999                   Leather Stiletto Pumps
98          Saint G   Rs. 8415              Leather Kitten Heeled Boots
99          Saint G   Rs. 9265            Leather Platform Heeled Boots
100         Saint G  Rs. 11815     Leather Block Heeled Boots with Bows

[100 rows x 3 columns]

# Q8 Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [83]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [84]:
url = 'https://www.amazon.in/'
driver.get(url)

In [85]:
Laptopsearch = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Laptopsearch.send_keys("Laptop")
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [86]:
i3_filter = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div/div/div/div[6]/ul[3]/li[9]/span/a/div/label/i")
i3_filter.click()

In [87]:
title = []
price = []
Rating = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
title_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price_tag = driver.find_elements_by_xpath("//div[@class='sg-col-inner']//span[@class='a-price-whole']")

for i in title_tag:
    title.append(i.text)
    
for r in Rating_tag :
    Rating.append(r.get_attribute("innerHTML"))
    
for p in price_tag:
    price.append(p.text)

In [88]:
del title[8]

In [89]:
Rating

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '3.3 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '3.4 out of 5 stars',
 '3.8 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '3.3 out of 5 stars',
 '5.0 out of 5 stars',
 '4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '4.3 out of 5 stars',
 '3.9 out of 5 stars',
 '4.7 out of 5 stars',
 '3.9 out of 5 stars',
 '5.0 out of 5 stars',
 '3.8 out of 5 stars',
 '4.3 out of 5 stars',
 '3.5 out of 5 stars',
 '5.0 out of 5 stars',
 '3.0 out of 5 stars',
 '3.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.3 out of 5 stars',
 '3.3 out of 5 stars',
 '4.5 out of 5 stars',
 '4 Stars &amp; Up',
 '3 Stars &amp; Up',
 '2 Stars &amp; Up',
 '1 Star &amp; Up']

In [90]:
LaptopDF = pd.DataFrame({"Laptop Name":title[0:10],"Price(₹)":price[0:10],"Rating":Rating[0:10]})
LaptopDF.reset_index(drop=True,inplace = True)
LaptopDF.index+= 1
LaptopDF

,Laptop Name,Price(₹),Rating
1,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"40,990",4.2 out of 5 stars
2,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,"38,990",4.2 out of 5 stars
3,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,"36,490",3.9 out of 5 stars
4,"Dell New 15 Intel i3-1115G4 Laptop, 8GB, 256GB...","40,190",3.3 out of 5 stars
5,Lenovo IdeaPad 3 11th Gen Intel Core i3 35.56c...,"40,990",3.9 out of 5 stars
6,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"40,990",4.2 out of 5 stars
7,HP 11th Gen Intel Core i3 15.6 inches FHD Lapt...,"39,490",3.4 out of 5 stars
8,"ASUS VivoBook 14 (2021), Intel Core i3-1115G4 ...","37,990",3.8 out of 5 stars
9,HP 15s 11th Gen Intel Core i3- 8GB RAM/512GB S...,"39,799",4.1 out of 5 stars
10,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 F...,"43,890",4.0 out of 5 stars

# Q9 scrape the data for the first 10 jobs results based on the steps suggested

In [130]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [131]:
#Opening URL
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [132]:
# Find and CLick JOBS
jobs_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
jobs_btn

In [133]:
jobs_btn.click()

In [134]:
# Search Job
search_job = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [135]:
search_job.send_keys("Data Scientist")

In [136]:
# Find and CLick Search
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn

In [137]:
search_btn.click()

In [138]:
# Find and CLick Location
loc_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
loc_btn

In [139]:
loc_btn.click()

In [140]:
# Search Noida
search_nda = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_nda

In [141]:
search_nda.send_keys("Noida")

In [143]:
# Find and CLick Noida
noida_search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input')
noida_search

In [144]:
noida_search.click()

In [145]:
company_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="a8ff0760-81e1-437e-b53b-179de1ee1173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="2fb4920d-ca10-4877-8656-56ad182b1ed8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="6057c693-f140-419d-805b-4e702c616728")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="426f8098-a459-4fee-b018-49ca088bb507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="8e23af24-a605-478d-8f63-4bd3b2d23698")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="dec8d18d-6167-4e2b-818f-f2564f81e4b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="a903d7dd-cf5b-4af1-af23-a67feb504bb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="5ef7e5a6-6efc-4c7d-9b81-3ed0faf1c9b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="76b26394-ccfb-4d82-8595-217308da087b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="a925618e-90d2-498f-aa9c-3ab577881435")>]

In [146]:
company_name = []

for i in company_tags:
    company_name.append(i.text)
    
len(company_name)

10

In [147]:
company_name

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'EY GDS',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EXL Service',
 'CHT Sapiense',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial']

In [163]:
daysold_tags = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(daysold_tags)

20

In [164]:
daysold_tags

[<selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="2f9b0fa7-9fb6-4c34-99d8-22c750d39a73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="87c771f5-5785-479a-8565-ce0b6b9a9e53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="f918d155-a88b-4b25-bc62-6d246b4b3555")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="9dedd0ff-73b7-4336-b8d1-1d59438a2b9c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="f65a6d7b-fd73-4412-8f9b-8a94836d0365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="ec2b9ead-67f4-4b84-90d2-7e73dbb348b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="ba07e976-d303-4c86-8f97-b9ff9ebf073f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="c6350183-b867-4d53-bfc4-d28c40653403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="c48950b9-33da-413c-a30d-ec32fd7be015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="1945d20d-fe69-450f-a0d9-676b11109fb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="8344278a-9a1b-45a3-acdc-c4a93c54f62c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="33b3878c-10de-4e6a-b528-7037ce30d7a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="9d8f34d0-867d-431e-8623-9d7e9e884a98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="9261d05b-75ae-4571-bcfc-c24de983ac46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="01e0c1e0-851c-44c2-beaa-837840d55762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="07f4f5db-8c52-4b7b-ac5c-1a325b01d86d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="7f7c8d5a-6734-4a3b-9c20-4615560c759d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="990ecdc3-c2e5-4606-9d1a-be4d390da450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="47f47fff-598e-4448-b403-6adb9a5a98c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="01d406104e3d081bc14c1ce4db010fdb", element="02fb3550-2700-4569-aa90-47c7a9e02d05")>]

In [171]:
num_days_old = []

for i in daysold_tags:
    num_days_old.append(i.text)
    
len(num_days_old)

20

In [172]:
num_days_old

['13d ago',
 'via naukri.com',
 '27d ago',
 'via naukri.com',
 '28d ago',
 'via iimjobs.com',
 '8d ago',
 'via naukri.com',
 '8d ago',
 'via naukri.com',
 '21d ago',
 'via naukri.com',
 '2d ago',
 'via iimjobs.com',
 '28d ago',
 'via naukri.com',
 '6d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com']

In [173]:
del num_days_old[1::2]
num_days_old

['13d ago',
 '27d ago',
 '28d ago',
 '8d ago',
 '8d ago',
 '21d ago',
 '2d ago',
 '28d ago',
 '6d ago',
 '1mon ago']

In [174]:
rating_tags = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(rating_tags)

10

In [175]:
rating = []

for i in rating_tags:
    rating.append(i.text)
    
len(rating)

10

In [176]:
rating

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [177]:
ds_jobs = pd.DataFrame()
ds_jobs['Company Name'] = company_name
ds_jobs['Number of Days Ago Posted'] = num_days_old
ds_jobs['Rating of Company'] = rating
ds_jobs

,Company Name,Number of Days Ago Posted,Rating of Company
0,Jubilant Foodworks Limited,13d ago,3.9
1,HCL Technologies,27d ago,3.8
2,EY GDS,28d ago,3.7
3,Tavant Technologies India Pvt. Ltd.,8d ago,4.0
4,Denave India Pvt Ltd.,8d ago,4.0
5,EXL Service,21d ago,3.8
6,CHT Sapiense,2d ago,3.8
7,Pitney Bowes India Pvt ltd,28d ago,4.2
8,Zyoin,6d ago,4.1
9,Ameriprise Financial,1mon ago,4.0

# Q10 Write a python code to scrape the salary data for Data Scientist Designation

In [178]:
driver = webdriver.Chrome(r'C:\Users\Anuradha\Downloads\chromedriver.exe')

In [179]:
#Opening URL
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [180]:
# Find and Click salaries
sal_btn = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal_btn

In [181]:
sal_btn.click()

In [183]:
# searching job profile
search_jp = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_jp

In [184]:
search_jp.send_keys("Data Scientist")

In [185]:
# Find and Click Data Scientist
sal_ds = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
sal_ds

In [186]:
sal_ds.click()

In [187]:
name_tags = driver.find_elements_by_xpath('//div[@class="name"]')
name_tags

[<selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="f9db6ea4-46e0-4faf-af96-117ee8f69328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e16820ee-dabd-4ed1-8776-e57719ae1fda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="5cb385e5-6fdf-4745-be2e-3552fe6c1f22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="fff5e0b8-b2a0-4bf1-8b6b-39b3bebfc992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="8ce1d963-716a-4494-833c-faefa6f3810b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="216c965a-2788-4fd7-8dd7-f95c591347f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="8149ce4a-8d54-4a1c-a989-52724e5d9a9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="75f6e401-121f-439b-b7f4-6086165be79a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="64225eab-e9fd-40a0-bdbc-06c8bacc5ffe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="ade653b8-004a-49a1-8ac1-b1657cd9ccf4")>]

In [188]:
company_name = []

for i in name_tags:
    company_name.append(i.text)
    
company_name

['Walmart\nbased on 10 salaries',
 'Ab Inbev\nbased on 25 salaries',
 'ZS\nbased on 13 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 75 salaries',
 'Tiger Analytics\nbased on 30 salaries',
 'UnitedHealth\nbased on 51 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries']

In [189]:
company_name1 = []
for i in company_name:
    c = i.split('\nbased')
    company_name1.append(c[0])

In [190]:
company_name1

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [193]:
totalsalaryrecord = []
for i in company_name:
    c = i.split('\n')
    totalsalaryrecord.append(c[1])

In [194]:
totalsalaryrecord

['based on 10 salaries',
 'based on 25 salaries',
 'based on 13 salaries',
 'based on 25 salaries',
 'based on 75 salaries',
 'based on 30 salaries',
 'based on 51 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries']

In [195]:
exp_tags = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="5e0e3065-0817-482f-8d92-9eaba81a4d0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="b2ecf30c-64b9-4bec-b519-58bb8ac7767f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="899226b7-3fb8-47a8-b5c7-0da0abb5d561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="71ae1eae-f786-45dc-a8d8-ec78caa84c84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="0513028f-a15a-48b3-be53-18facdd8fcd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="09afde98-3fab-470e-b762-c3a3fc02c7c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="bd2182bb-17b7-4cb1-9a5f-1ee3bb2bd73e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e6c41c16-2c4b-4e5e-803b-121d54e37842")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="bc6ab136-a223-4d73-b2d8-447d1081d61d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="fd92a33a-56d0-4b6e-90bf-a45de9e78bd5")>]

In [196]:
exp = []

for i in exp_tags:
    exp.append(i.text)
    
exp

['Data Scientist\n . \n3 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp']

In [204]:
exp1 = []
for i in exp:
    g = i[19:]
    exp1.append(g)
    
exp1

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [221]:
minmax_tags = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
minmax_tags

[<selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="684f5c45-cff6-442c-a0c4-cf5d818956e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="4c506263-d965-43c1-b7b7-38a43ffce263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="4099ae22-ad2f-4731-b1e7-9f2646cf3630")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="3fb8f32f-cbe4-44da-8c13-978fb4578131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="89f53286-f375-4e2d-bbf1-a606286d1de5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="015c1c77-ae53-4f6d-a8de-d59142f1be3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="3ffec23d-6fbc-4445-bee0-a939a3d6747a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="54dc6d56-ac7c-4d3e-a071-c9ee40f884b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="0cf02fc5-0f73-4dd8-a819-3921b279b20c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="af7ed630-0418-48ea-b6d5-c68eec4ebd16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e57522ef-fc08-45a4-910d-8100dc0b0b3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="3a94463b-b77f-4fba-885c-4aa0940024d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="3ad64a96-7a53-4637-a50d-4b0023bf8a09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="5fd0e22d-8154-423d-a408-b5e3c3e370bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="d850d305-20ac-45d4-ba91-07338d9caf91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="b9937308-50b1-4c8f-8835-5e8f7b7915f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e7dc30a5-783f-4258-a4e8-47b098aff2a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="add86ce7-d3e8-41ef-b5c9-43d01adfb96f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="217811dd-e4b6-4ab7-9c9b-5610c29f5a64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e30f358b-89c7-4e1b-afb4-2416f9b98941")>]

In [226]:
minmax_sal = []

for i in minmax_tags:
    minmax_sal.append(i.text)
    
minmax_sal

['₹ 17.7L',
 '₹ 35.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 9.8L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 21.3L',
 '₹ 9.5L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 18.5L',
 '₹ 8.3L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 21.0L',
 '₹ 8.5L',
 '₹ 15.0L',
 '₹ 5.8L',
 '₹ 24.0L']

In [231]:
max_sal = minmax_sal[1::2]
max_sal

['₹ 35.0L',
 '₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 18.5L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L']

In [232]:
min_sal = minmax_sal[::2]
min_sal

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [233]:
avgsal_tags = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avgsal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="9775071f-41c4-4941-a0ff-b70fffe8174d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e73bd4db-b813-44c5-bbbc-9d6947730252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="3934f4dc-b0bd-46fa-b4b9-d673128a337e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="18162899-96d0-433b-b757-cb16d3532a89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="bc53b3ce-98db-4a89-9aec-2a21913d7b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="1f1869ec-05c8-4bca-8a9e-4a9a56456457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="0ab2b975-fafa-4475-9675-6771e62007c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="2922fb92-0b6d-46c2-9779-9b33fb53eb66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="7ca51b5c-b2a5-4f30-b847-ce6a52c985ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="072af9f9254616733e7e91f2df51d3e2", element="e5c9b50e-0749-4f50-a87b-41aa00f5463f")>]

In [234]:
avg_sal = []

for i in avgsal_tags:
    avg_sal.append(i.text)
    
avg_sal

['₹ 28.7L',
 '₹ 20.2L',
 '₹ 15.5L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.2L',
 '₹ 13.8L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [235]:
sal = pd.DataFrame()
sal['Company Name'] = company_name1
sal['Total Salary Record'] = totalsalaryrecord
sal['Average Salary'] = avg_sal
sal['Maximum Salary'] = max_sal
sal['Minimum Salary'] = min_sal
sal['Experience Required'] = exp1
sal

,Company Name,Total Salary Record,Average Salary,Maximum Salary,Minimum Salary,Experience Required
0,Walmart,based on 10 salaries,₹ 28.7L,₹ 35.0L,₹ 17.7L,3 yrs exp
1,Ab Inbev,based on 25 salaries,₹ 20.2L,₹ 25.5L,₹ 15.0L,3-4 yrs exp
2,ZS,based on 13 salaries,₹ 15.5L,₹ 20.0L,₹ 9.8L,2 yrs exp
3,Optum,based on 25 salaries,₹ 15.1L,₹ 21.3L,₹ 11.0L,3-4 yrs exp
4,Fractal Analytics,based on 75 salaries,₹ 15.1L,₹ 22.0L,₹ 9.5L,2-4 yrs exp
5,Tiger Analytics,based on 30 salaries,₹ 14.2L,₹ 18.5L,₹ 9.0L,3-4 yrs exp
6,UnitedHealth,based on 51 salaries,₹ 13.8L,₹ 20.5L,₹ 8.3L,2-4 yrs exp
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 21.0L,₹ 10.0L,4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 15.0L,₹ 8.5L,4 yrs exp
9,Ericsson,based on 43 salaries,₹ 11.9L,₹ 24.0L,₹ 5.8L,3-4 yrs exp

# `END`